{{!-- views/partials/comments.handlebars --}}
{{#if comments.length}}
  <div class="comments-section">
    <h3>Comments</h3>
    {{#each comments}}
      <div class="comment">
        <p>{{comment}}</p>
        <p>By: {{username}}</p>
        <p>Date: {{date}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No comments yet.</p>
{{/if}}

