<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Page</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form id="signupForm">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>

        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="/login">Login</a></p>

    <!-- Include Handlebars library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

    <!-- Your Handlebars template script -->
    <script id="message-template" type="text/x-handlebars-template">
        <div class="message">
            <h2>{{title}}</h2>
            <p>{{message}}</p>
        </div>
    </script>

    <!-- Your JavaScript code -->
    <script src="/public/Javascript/login.js"></script>
</body>
</html>
